    <div id="top-nav" class="fixed skin-6">
      <a href="{{url:site}}" class="brand">
        <span></span>
        <span class="text-toggle">{{settings:site_name}}</span>
      </a><!-- /brand -->         
      <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav-notification clearfix">
      {{if user:logged_in}}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope fa-lg"></i>
            <span class="notification-label bounceIn animation-delay4">7</span>
          </a>
          <ul class="dropdown-menu message dropdown-1">
            <li><a>You have 4 new unread messages</a></li>            
            <li>
              <a class="clearfix" href="#">
                {{ theme:image file="avatar.jpeg"}}
                <div class="detail">
                  <strong>Sarah AlAli</strong>
                  <p class="no-margin">
                    Working on Senior
                  </p>
                  <small class="text-muted"><i class="fa fa-check text-success"></i> 27m ago</small>
                </div>
              </a>  
            </li>
            <li>
              <a class="clearfix" href="#">
                {{ theme:image file="avatar.jpeg"}}
                <div class="detail">
                  <strong>Asiri</strong>
                  <p class="no-margin">
                    Not yet compeleted Phase1
                  </p>
                  <small class="text-muted"><i class="fa fa-check text-success"></i> 5hr ago</small>
                </div>
              </a>  
            </li>
            <li>
              <a class="clearfix" href="#">
                {{ theme:image file="avatar.jpeg"}}
                <div class="detail">
                  <strong>Mohammed Fadin</strong>
                  <p class="no-margin">
                    Regression Testing 
                  </p>
                  <small class="text-muted"><i class="fa fa-reply"></i> Yesterday</small>
                </div>
              </a>  
            </li>
            <li>
              <a class="clearfix" href="#">
                {{ theme:image file="avatar.jpeg"}}
                <div class="detail">
                  <strong>Nayef ALhindas</strong>
                  <p class="no-margin">
                    Working on Unit Testing
                  </p>
                  <small class="text-muted"><i class="fa fa-reply"></i> 9 Feb 2013</small>
                </div>
              </a>  
            </li>
            <li><a href="#">View all messages</a></li>            
          </ul>
        </li>
        <li class="dropdown hidden-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-tasks fa-lg"></i>
            <span class="notification-label bounceIn animation-delay5">4</span>
          </a>
          <ul class="dropdown-menu task dropdown-2">
            <li><a href="#">You have 4 tasks to complete</a></li>           
            <li>
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">Bug Fixes</span>
                  <small class="pull-right text-muted">78%</small>
                </div>
                <div class="progress">
                  <div class="progress-bar" style="width:78%"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">Software Updating</span>
                  <small class="pull-right text-muted">54%</small>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-success" style="width:54%"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">Database Migration</span>
                  <small class="pull-right text-muted">23%</small>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" style="width:23%"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">Unit Testing</span>
                  <small class="pull-right text-muted">92%</small>
                </div>
                <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-danger " style="width:92%"></div>
                </div>
              </a>
            </li>
            <li><a href="#">View all tasks</a></li>           
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bell fa-lg"></i>
            <span class="notification-label bounceIn animation-delay6">5</span>
          </a>
          <ul class="dropdown-menu notification dropdown-3">
            <li><a href="#">You have 5 new notifications</a></li>           
            <li>
              <a href="#">
                <span class="notification-icon bg-warning">
                  <i class="fa fa-warning"></i>
                </span>
                <span class="m-left-xs">Server #2 not responding.</span>
                <span class="time text-muted">Just now</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="notification-icon bg-success">
                  <i class="fa fa-plus"></i>
                </span>
                <span class="m-left-xs">Team Posted new<br/> announcements</span>
                <span class="time text-muted">2m ago</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="notification-icon bg-danger">
                  <i class="fa fa-bolt"></i>
                </span>
                <span class="m-left-xs">One of your member has resigned</span>
                <span class="time text-muted">5m ago</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="notification-icon bg-success">
                  <i class="fa fa-usd"></i>
                </span>
                <span class="m-left-xs">A sponsor is interested <br/>in your project</span>
                <span class="time text-muted">1hr ago</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="notification-icon bg-success">
                  <i class="fa fa-plus"></i>
                </span>
                <span class="m-left-xs">New user registration.</span>
                <span class="time text-muted">1hr ago</span>
              </a>
            </li>
            <li><a href="#">View all notifications</a></li>           
          </ul>
        </li>
        {{else}}
        <!-- nothing here for visitor-->
        {{endif}}
          {{ if user:logged_in}}        
        <li class="profile dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <strong>{{user:display_name}}</strong>
            <span><i class="fa fa-chevron-down"></i></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="clearfix" href="{{url:site uri='my-profile'}}">
              {{helper:gravatar email="user:email" size="30"}}
                <div class="detail">
                  <strong>{{user:display_name}}</strong>
                  <p class="grey">{{user:email}}</p> 
                </div>
              </a>
            </li>
            <li><a tabindex="-1" href="#" class="main-link"><i class="fa fa-edit fa-lg"></i>ProjectHub</a></li>
            {{if settings:enable_profiles}}
            <li><a tabindex="-1" href="{{url:site uri='edit-profile'}}" class="theme-setting"><i class="fa fa-edit fa-lg"></i>{{helper:lang line="edit_profile_label"}}</a></li>
            <li>
              {{if user:has_cp_permissions}}
            <li><a tabindex="-1" href="{{url:site uri='admin'}}" class="main-link"><i class="fa fa-edit fa-lg"></i>{{ helper:lang line="global:control-panel" }}</a></li>
              {{endif}}
            </li>
            {{endif}}
            <li class="divider"></li>
            <li><a tabindex="-1" class="main-link logoutConfirm_open" href="#logoutConfirm"><i class="fa fa-lock fa-lg"></i>{{helper:lang line="user:logout"}}</a></li>
          </ul>
        </li><!-- end profile-->
        {{else}}
        <li class="profile dropdown">
            <li><a tabindex="-1" href="{{url:site uri='users/login'}}" class="main-link"><i class="fa fa-user fa-lg"></i> Login</a></li>
            <li><a tabindex="-1" href="{{url:site uri='users/register_choice'}}" class="main-link"><i class="fa fa-group fa-lg"></i> Join Us</a></li>
            <li class="divider"></li>
        </li><!-- end profile-->
        {{endif}}        
      </ul>
</div>