<!DOCTYPE html>
<html lang="en">
  <head>
    {{ theme:partial name="metadata" }}
  </head>
  <body>
  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      {{ theme:partial name="header" }}
    </div>
    <div id="wrap">
      <div class="container">    
        <!-- {{ theme:partial name="breadcrumbs"}} -->
        {{ session:messages success="alert alert-success" notice="alert alert-block" error="alert alert-error" }}
        {{ template:body}}
      </div>
    </div>
    <br/>
    <br/>
    <br/>
        {{ theme:partial name="footer" }}
  <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url:base }}/system/cms/themes/Projectvirals/js/jquery.min.js"></script>
    <script src="{{ url:base }}/system/cms/themes/Projectvirals/js/bootstrap.min.js"></script>
    <script src="{{ url:base }}/system/cms/themes/Projectvirals/js/custom.js"></script>
    <script type="text/javascript" src="{{ url:base }}/system/cms/themes/Projectvirals/js/fancybox/jquery.fancybox.pack.js?v=2.1.4"></script>
    <script type="text/javascript" src="{{ url:base }}/system/cms/themes/Projectvirals/js/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="{{ url:base }}/system/cms/themes/Projectvirals/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5"></script>
    <script type="text/javascript" src="{{ url:base }}/system/cms/themes/Projectvirals/js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <script src="{{ url:base }}/system/cms/themes/Projectvirals/js/twitter.feed.js"></script>
    <script src="{{ url:base }}/system/cms/themes/Projectvirals/js/instagram.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){            
        jQuery.fn.spectragram.accessData = {
          accessToken: '197116726.dd97aa2.900236bda3d742189a302a5fd8a44686',
          clientID: 'dd97aa2734a543aeaa1022900970b486'        
        };
        
        $('#instagram').spectragram('getUserFeed',{
          query: 'adrianengine',
          max: 4
        }); 
        $("[rel='tooltip']").tooltip(); 

        $('#panel2').click(function(){
          $('#foundersWidget').hide();
          alert("ASFASDF");
        })      
    });   
  </script>       
    <script src="{{ url:base }}/system/cms/themes/Projectvirals/js/twitter.feed.footer.js"></script>
  <script type="text/javascript">
  
      JQTWEET.numTweets = 5;
      JQTWEET.user = 'twitter';
      JQTWEET.appendTo = '#foot-twitts';
      JQTWEET.loadTweets();
  </script>
  <script type="text/javascript">
      var apiKey = 'f09cbc1c2d8305c477e39fab84453aaa';
      var userId = '69345311@N02';
      var tag = '';
      var perPage = '25';
      var showOnPage = '4';
  </script>
  <script type="text/javascript" src="{{ url:base }}/system/cms/themes/Projectvirals/js/jquery.flickr.js"></script>
      <script src="{{ url:base }}/system/cms/themes/Projectvirals/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url:base }}/system/cms/themes/Projectvirals/js/fraction.slider.init.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url:base }}/system/cms/themes/Projectvirals/js/jquery.monochrome.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url:base }}/system/cms/themes/Projectvirals/js/angle.slider.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
      pSlider.rows = 2;
      pSlider.lock = true;
      pSlider.loadScroll();
  </script>
  </body>
</html>