    <!-- Header -->
    <div class="cont-header">
      <!-- Menu -->
      <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" >
          <div class="navbar-inner">
              <!-- Logo -->
              <div class="brand_logo">
                <a href="index.html">{{settings:site_name}}</a>
              </div>
              <!-- Logo end -->
              <div class="nav-collapse collapse">
                <ul class="nav">
                  {{ navigation:links group="header" }}
                </ul>
                  <ul class="nav pull-right">
                  {{ if user:logged_in}}
                  <li class="dropdown">
                    <a href="{{url:site uri='my-profile'}}">{{helper:gravatar email="user:email" size="30"}}&nbsp;{{user:display_name}}</a>
                    <ul class="dropdown-menu">
                    {{if settings:enable_profiles}}
                      <li>
                        <a href="{{url:site uri='edit-profile'}}">{{helper:lang line="edit_profile_label"}}</a>
                      </li>                   
                    {{endif}}
                    {{if user:has_cp_permissions}}
                      <li>
                        <a href="{{ url:site uri='admin' }}" target="_blank">{{ helper:lang line="global:control-panel" }}</a>
                      </li>
                    {{endif}}
                      <li>
                        <a href="{{url:site uri='users/logout'}}">{{helper:lang line="user:logout"}}</a>
                      </li>                     
                    </ul>
                  </li>
                  {{else}}
                  <li class="active">
                    <a href="{{url:site uri='users/login'}}" title="">{{helper:lang line="user:login_btn"}}</a>
                  </li>
                  <li class="active">
                    <a href="{{url:site uri='users/register'}}" title="">{{helper:lang line="user:register_btn"}}</a>
                  </li>                  
                  {{endif}}                  
                  </ul>
              </div>
          </div>
        </div>
      </div>
      <!-- Menu end -->
    </div>