<!DOCTYPE html>
<html lang="en">
  <head>
    {{ theme:partial name="metadata" }}
  </head>
  <body class="overflow-hidden">
  <div id="wrapper" class="preload">
  <!-- Navbar
    ================================================== -->
    {{ theme:partial name="header" }}
  {{if user:logged_in}}
    {{ theme:partial name="sidebar" }}
  {{endif}}
        <!-- {{ theme:partial name="breadcrumbs"}} -->
        {{ session:messages success="alert alert-success" notice="alert alert-block" error="alert alert-error" }}
        {{ template:body}}
    <br/>
        {{ theme:partial name="footer" }}
</div><!-- Wrapper-->
  <a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
  <!-- Logout confirmation -->
  <div class="custom-popup width-100" id="logoutConfirm">
    <div class="padding-md">
      <h4 class="m-top-none">{{user:display_name}} Do you want to logout?</h4>
    </div>

    <div class="text-center">
      <a class="btn btn-success m-right-sm" href="{{url:site uri='users/logout'}}">Logout</a>
      <a class="btn btn-danger logoutConfirm_close">Cancel</a>
    </div>
  </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!-- Jquery -->
  <script src="{{ url:base }}system/cms/themes/ProjectHub/js/jquery-1.10.2.min.js"></script>

  <!-- Bootstrap -->
    <script src="{{ url:base }}system/cms/themes/ProjectHub/bootstrap/js/bootstrap.js"></script>
   
  <!-- Flot -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/jquery.flot.min.js'></script>
   
  <!-- Morris -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/rapheal.min.js'></script> 
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/morris.min.js'></script>  
  
  <!-- Colorbox -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/jquery.colorbox.min.js'></script> 

  <!-- Sparkline -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/jquery.sparkline.min.js'></script>
  
  <!-- Pace -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/pace.min.js'></script>
  
  <!-- Popup Overlay -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/jquery.popupoverlay.min.js'></script>
  
  <!-- Slimscroll -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/jquery.slimscroll.min.js'></script>
  
  <!-- Modernizr -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/modernizr.min.js'></script>
  
  <!-- Cookie -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/jquery.cookie.min.js'></script>
  
  <!-- Endless -->
  <script src="{{ url:base }}system/cms/themes/ProjectHub/js/endless/endless_dashboard.js"></script>
  <script src="{{ url:base }}system/cms/themes/ProjectHub/js/endless/endless.js"></script>

  </body>
</html>