<!DOCTYPE html>
<html lang="en">
  <head>
    {{ theme:partial name="metadata" }}
  </head>
  <body>
  <div id="wrapper">
  <!-- Navbar
    ================================================== -->
    {{ theme:partial name="header" }}
  {{if user:logged_in}}
    {{ theme:partial name="sidebar" }}
  {{endif}}
        <!-- {{ theme:partial name="breadcrumbs"}} -->
        {{ session:messages success="alert alert-success" notice="alert alert-block" error="alert alert-error" }}
        {{ template:body}}
        {{ theme:partial name="footer" }}
</div><!-- Wrapper-->
  <a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
  
  <!-- Logout confirmation -->
  <div class="custom-popup width-100" id="logoutConfirm">
    <div class="padding-md">
      <h4 class="m-top-none"> Do you want to logout?</h4>
    </div>

    <div class="text-center">
      <a class="btn btn-success m-right-sm" href="{{url:site uri="users/logout"}}">Logout</a>
      <a class="btn btn-danger logoutConfirm_close">Cancel</a>
    </div>
  </div>
   <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  
  <!-- Jquery -->
<!--   <script src="{{ url:base }}system/cms/themes/ProjectHub/js/jquery-1.10.2.min.js"></script>
 -->  
  <!-- Bootstrap -->
    <script src="{{ url:base }}system/cms/themes/ProjectHub/bootstrap/js/bootstrap.min.js"></script>

<!-- Flot mainpage -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/jquery.flot.min.js'></script>
    
  <!-- Morris mainpage -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/rapheal.min.js'></script> 
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/morris.min.js'></script>    

  <!-- Colorbox -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/jquery.colorbox.min.js'></script> 

  <!-- Sparkline -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/jquery.sparkline.min.js'></script>

  <!-- Chosen -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/chosen.jquery.min.js'></script>  

  <!-- Mask-input -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/jquery.maskedinput.min.js'></script> 

  <!-- Datepicker -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/bootstrap-datepicker.min.js'></script> 

  <!-- Timepicker -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/bootstrap-timepicker.min.js'></script> 
  
  <!-- Slider -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/bootstrap-slider.min.js'></script> 
  
  <!-- Tag input -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/jquery.tagsinput.min.js'></script> 

  <!-- WYSIHTML5 -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/wysihtml5-0.3.0.min.js'></script>  
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/uncompressed/bootstrap-wysihtml5.js'></script> 

  <!-- Dropzone -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/dropzone.min.js'></script> 
  
  <!-- Modernizr -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/modernizr.min.js'></script>
  
  <!-- Pace -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/pace.min.js'></script>
  
  <!-- Popup Overlay -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/jquery.popupoverlay.min.js'></script>
  
  <!-- Slimscroll -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/jquery.slimscroll.min.js'></script>
  
  <!-- Cookie -->
  <script src='{{ url:base }}system/cms/themes/ProjectHub/js/jquery.cookie.min.js'></script>

  <!-- Endless -->
<!--   <script src="{{ url:base }}system/cms/themes/ProjectHub/js/endless/endless_dashboard.js"></script> -->
  <script src="{{ url:base }}system/cms/themes/ProjectHub/js/endless/endless_form.js"></script>
  <script src="{{ url:base }}system/cms/themes/ProjectHub/js/endless/endless.js"></script>

  </body>
</html>